{% extends 'index.html' %}

{% block login %}
<div class="container">
    <div class="container" data-aos="fade-up">
        <form class="w-50 m-auto" method="post" action="{% url 'log in user' %}">

            <div class="section-title col-lg-11">
                <h2>Log in</h2>
            </div>
            {% csrf_token %}
            {{ form }}

            <button type="submit" class="btn btn-primary">Login</button>
            <span>Don't have an account?<a href="{% url 'register user' %}" style="color:orange">Sign up here</a></span>
        </form>
    </div>
</div>

<form class="form-login" method="post" action="#">

    <div class="form-log-in-with-email">

        <div class="form-white-background">

            <div class="form-title-row">
                <h1>Log in</h1>
            </div>

            <div class="form-row">
                <label>
                    <span>Email</span>
                    <input type="email" name="email">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Password</span>
                    <input type="password" name="password">
                </label>
            </div>

            <div class="form-row">
                <button type="submit">Log in</button>
            </div>

        </div>

        <a href="#" class="form-create-an-account">Create an account &rarr;</a>

    </div>

</form>
{% endblock login %}