{% extends 'index.html' %}
{% load static %}

{% block title %} 
<title>Login</title>  
{% endblock %}

{% block login %}
<section id="login" class="login col-lg-11">
    <div class="container login" data-aos="fade-up">
        <form class="login-form" method="post">

            <div class="section-title">
                <h2>Sign in</h2>
            </div>

            {% csrf_token %}
            {{ form }}

            <div class="text-center">
                <button type="submit">Sign in</button>
            </div>
            <div class="text-center">
                <span>Don't have an account?
                    <a href="{% url 'register user' %}">Sign up here</a>
                </span>
            </div>
        </form>
    </div>
</section>
{% endblock login %}