{% extends 'index.html' %}
{% load static %}

{% block register %}
<section id="register" class="register col-lg-11">
  <div class="container register" data-aos="fade-up">
    <form class="register-form" method="post">

      <div class="section-title">
        <h2>Sign up</h2>
      </div>

      {% csrf_token %}
      {{form}}
      <div class="text-center">
        <button type="submit">Sign up</button>
      </div>
      <div class="text-center">
        <span>Have an account?
          <a href="{% url 'log in user' %}" style="color:orange">Sign in here</a>
        </span>
      </div>

    </form>
  </div>
</section>
{% endblock register %}