{% extends 'index.html' %}
{% load static %}

{% block contact %}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title col-lg-11">
            <h2>Contact</h2>
        </div>

        <div class="row mt-1">

            <div class="col-lg-3">
                <div class="info">

                    <div class="web">
                        <i class="bi bi-globe2"></i>
                        <h4>Web:</h4>
                        <p>www.example.com</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>gs.dafov@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Phone:</h4>
                        <p>+359 883456506</p>
                    </div>

                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Sofia, Bulgaria</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-9 mt-5 mt-lg-0">
                <form action="/your-name/" method="post">
                    <div class="col-md-9 form-group">
                        {% csrf_token %}
                        {{form}}
                    </div>
                    <button class="text-center" type="submit">Send Message</button>
                </form>
            </div>


            <!-- <form action="contact/forms.py" method="post" role="form" class="php-email-form"> -->
            <!-- <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                required>
                        </div>
                    </div> -->
            <!-- <div class="form-group mt-6">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            required>
                    </div> -->
            <!-- <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                            required></textarea>
                    </div> -->
            <!-- <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div> -->
            <!-- </form> -->

        </div>

    </div>

    </div>
</section><!-- End Contact Section -->
{% endblock contact %}