{% extends 'index.html' %}
{% load static %}

{% block resume %}    
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
        <h2>Resume</h2>
        </div>

        <div class="row">
        <div class="col-lg-6">

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
            <h4>Python Web Developer</h4>
            <h5>2020 - Present</h5>
            <p><em>Software University, Sofia, Bulgaria</em></p>
            </div>
            <div class="resume-item">
            <h4>Master degree - Architect</h4>
            <h5>2013 - Present</h5>
            <p><em>University of Architecture Civil Engineering and Geodesy, Sofia, Bulgaria</em></p>
            </div>
            <div class="resume-item">
            <h4>Construction Technician</h4>
            <h5>2010 - 2013</h5>
            <p><em>Professional High School of Construction “Nikola Vaptsarov”, Smolyan, Bulgaria</em></p>
            </div>
            <div class="resume-item">
            <h4>Mathematic, IT, German language</h4>
            <h5>2008 - 2010</h5>
            <p><em>Professional Mathematical High School “Vasil Levski”, Smolyan, Bulgaria</em></p>
            </div>
            <h3 class="resume-title">Certificates</h3>
            <div class="resume-item">
            <h4>Python Web Basics</h4>
            <h5>05/2020 - 06/2021</h5>
            <p><em><a href="https://softuni.bg/Certificates/Details/108864/7ffbee8c" class="link"><i class="bx bx-link">Link</i></a></em></p>
            </div>
            <div class="resume-item">
            <h4>Python OOP</h4>
            <h5>10/2020 - 12/2020</h5>
            <p><em><a href="https:// softuni.bg/Certificates/Details/94942/eb5f2466" class="link"><i class="bx bx-link">Link</i></a></em></p>
            </div>
            <div class="resume-item">
            <h4>Python Advanced</h4>
            <h5>09/2020 - 10/2020</h5>
            <p><em><a href="https:// softuni.bg/Certificates/Details/90095/58612ab5" class="link"><i class="bx bx-link">Link</i></a></em></p>
            </div>
            <div class="resume-item">
            <h4>Programming Basics with Python</h4>
            <h5>02/2020 - 03/2020</h5>
            <p><em><a href="https:// softuni.bg/Certificates/Details/78636/9f25648d" class="link"><i class="bx bx-link">Link</i></a></em></p>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="resume-title">Experience</h3>
            <div class="resume-item">
            <h4>Team Lead / Supervisor</h4>
            <h5>12/2017 - Present</h5>
            <p><em>“Genius Sports Services” ltd. Sofia, Bulgaria</em></p>
            <ul>
                <li>Supervises and coordinates activities of the team while assuring the highest operational standards are met.</li>
                <li>Lead and mentor a team of Live Feed Analysts.</li>
                <li>Responsible for the communication with the clients.</li>
            </ul>
            </div>
            <div class="resume-item">
            <h4>Live Feed Analyst</h4>
            <h5>11/2016 - 12/2017</h5>
            <p><em>“Genius Sports Services” ltd. Sofia, Bulgaria</em></p>
            <ul>
                <li>Communicating with Statisticians all around the world.</li>
                <li>Gathering, analyzing, and updating live information in a specialized database.</li>
                <li>Monitoring information reporting quality and data flow authenticity.</li>
            </ul>
            </div>
            <h3 class="resume-title">Achievement</h3>
            <div class="resume-item">
            <h4>Supervisor of the 4th quarter</h4>
            <h5>10/2020 - 12/2020</h5>
            <p><em>Award for the best Supervisor for the current period in Genius Sports Services</em></p>
            </div>
            <div class="resume-item">
            <h4>Supervisor of the 2nd quarter</h4>
            <h5>04/2019 - 06/2019</h5>
            <p><em>Award for the best Supervisor for the current period in Genius Sports Services</em></p>
            </div>
        </div>
        </div>
    </div>
</section>
<!-- End Resume Section -->
{% endblock resume %}

{% block contact %}
{% endblock contact %}
    